<h1>信件寄送量</h1>
<div class="container">
  <div class="clearfix m-t-60">
    <div class="col-xs-12">
      <%= line_chart @delivery_count.map { |user|
        {name: user[1], data: user[0].group_by_week(:created_at).count}
      }, xtitle: '時間', ytitle: '每週送信量', colors: ['#797979', '#79ccbc', '#ffce6c', '#60C1DA', '#D95A4D', '#069A4E'] %>
    </div>
  </div>
</div>