<h3><%= @target.email %></h3>
<h4>belong to <%= @target.user.name %></h4>
<ul>
  <li>create at:<%= @target.created_at.to_formatted_s(:short) %></li>
</ul>
<%= link_to 'more detail', admin_target_path(@target), class: 'btn btn-info' %>
<%= form_for @target, url: admin_target_path(@target, targets_filter), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :control, value: true, class: 'radio-inline' do %>
      <%= f.radio_button :control, true %>守控
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :control, value: false, class: 'radio-inline' do %>
      <%= f.radio_button :control, false %>未守控
    <% end %>
  </div>
  <div class="form-group">
    <%= f.select :user_id, options_for_select(User.all.collect {|u| [u.name, u.id]}, selected: f.object.user_id), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-info' %>
  </div>
<% end %>