<div class="col-sm-12">
  <h1>List(<%= params[:condition] ? params[:condition] : 'ALL' %>)</h1>
  <%= link_to 'ALL', admin_targets_path, :class => 'btn btn-default' %>
  <div class="btn-group">
    <% User.all.each do |user| %>
      <%= link_to user.name, admin_targets_path(targets_filter(:user_id => user.id)), :class => 'btn btn-success' %>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to 'NotControlled', admin_targets_path(targets_filter(:condition => 'NotControlled')), :class => 'btn btn-primary' %>
    <%= link_to 'Incontrol', admin_targets_path(targets_filter(:condition => 'Incontrol')), :class => 'btn btn-info' %>
  </div>
  <div class="col-xs-12">
    <%= form_tag admin_targets_path, method: :get do %>
      <%= (hidden_field_tag :condition, params[:condition]) if params[:condition] %>
      <%= (hidden_field_tag :user_id, params[:user_id]) if params[:user_id] %>
      <%= label_tag :key_work, 'Key Word' %>
      <%= text_field_tag :keyword %>
      <%= submit_tag '送出', class: 'btn btn-success' %>
    <% end %>
  </div>
  <table class="table table-hover">
    <thead>
    <td>email</td>
    <td>user</td>
    <td>control</td>
    <td>edit</td>
    </thead>
    <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= link_to target.email, admin_target_path(target, targets_filter) %></td>
        <td><%= target.user.name %></td>
        <td><%= target.control %></td>
        <td><%= link_to 'edit', edit_admin_target_path(target, targets_filter(page: params[:page])) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @targets %>
</div>