<h2>Delivery Log</h2>
<div class="col-xs-12">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Email</th>
      <th>Theme</th>
      <th>Subject</th>
      <th>Delivery Date</th>
      <th>User</th>
    </tr>
    </thead>
    <tbody>
    <% @target_themeships.each do |tt| %>
        <tr>
          <td><%= tt.target.email %></td>
          <td><%= tt.theme.template %></td>
          <td><%= tt.theme.subject %></td>
          <td><%= tt.created_at.to_formatted_s(:short) %></td>
          <td><%= tt.target.user.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @target_themeships %>
</div>