<h1>新增資料</h1>
<%= form_tag targets_path, method: :post do %>
    <%= label_tag '選擇使用者' %>
    <%= select_tag :user_id, options_for_select(User.all.collect {|u| [u.name, u.id]}, selected: current_user.id), class: 'form-control' %>
    <%= label_tag '電子郵件清單 斷行分隔' %>
    <%= text_area_tag :email_lists, nil, class: 'form-control' %>
    <%= submit_tag '送出', class: 'btn btn-danger' %>
<% end %>