<h1>Record</h1>
<table class="table table-striped">
  <tr>
    <th>email</th>
    <th>status</th>
    <th>errors?</th>
  </tr>
  <% targets_record.each do |t| %>
      <tr>
        <td><%= t.email %></td>
        <td><%= (t.errors.full_messages.any?) ? '失敗' : '成功' %></td>
        <td>
          <% if t.errors.full_messages.any? %>
              <% t.errors.full_messages.each do |e| %>
                  <%= e %> <br/>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>