<h3><%= @target.email %></h3>
<%= form_for @target, url: target_path(@target, targets_filter), method: :patch do |f| %>
    <div class="form-group">
      <%= f.label :control, value: true, class: 'radio-inline' do %>
          <%= f.radio_button :control, true %>守控
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :control, value: false, class: 'radio-inline' do %>
          <%= f.radio_button :control, false %>未守控
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit :class => 'btn btn-info' %>
    </div>
<% end %>