<div class="col-sm-12 col-md-8">
  <h1>List(<%= params[:condition] ? params[:condition] : 'ALL' %>)</h1>
  <div class="btn-group">
    <%= link_to 'ALL', targets_path, :class => 'btn btn-default' %>
    <%= link_to 'NotControlled', targets_path(:condition => 'NotControlled'), :class => 'btn btn-primary' %>
    <%= link_to 'Incontrol', targets_path(:condition => 'Incontrol'), :class => 'btn btn-info' %>
  </div>
  <div class="col-xs-12">
    <%= form_tag targets_path, method: :get do %>
        <%= (hidden_field_tag :condition, params[:condition]) if params[:condition] %>
        <%= label_tag :key_work, 'Key Word' %>
        <%= text_field_tag :keyword %>
        <%= submit_tag '送出', class: 'btn btn-success' %>
    <% end %>
  </div>
  <table class="table table-hover">
    <thead>
    <td>email</td>
    <td>control</td>
    <td>edit</td>
    </thead>
    <tbody>
    <% @targets.each do |t| %>
        <tr>
          <td><%= link_to t.email, target_path(t, targets_filter) %></td>
          <td><%= t.control %></td>
          <td><%= link_to 'edit', edit_target_path(t, targets_filter(page: params[:page])) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @targets %>
</div>
<% if current_user.legal? %>
    <div class="col-sm-12 col-md-4">
      <%= render partial: 'new_targets_form' %>
      <% if @targets_record.present? %>
          <%= render partial: 'targets_record', :locals => { targets_record: @targets_record } %>
      <% end %>
    </div>
<% end %>