<div class="col-xs-12">
  <h3><%= @target.email %></h3>
  <h4>belong to <%= @target.user.name %></h4>
  <ul>
    <li>create at:<%= @target.created_at.to_formatted_s(:short) %></li>
  </ul>
</div>
<div class="col-xs-12">
  <h3>Themes</h3>
  <table class="table table-hover">
    <thead>
    <td>Title</td>
    <td>deliver date</td>
    </thead>
    <tbody>
    <% Theme.all.each do |t| %>
      <tr>
        <td><%= t.subject %></td>
        <td>
          <%= @target.target_themeships.find_by_theme_id(t.id).created_at.to_formatted_s(:short) if @target.themes.include?(t) %>
          <%= button_to 'Force Deliver', force_deliver_target_path(@target, theme_id: t.id), class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="col-xs-12">
  <h3>records</h3>
  <table class="table table-hover">
    <thead>
    <td>ip_address</td>
    <td>browser</td>
    <td>platform</td>
    <td>password</td>
    </thead>
    <tbody>
    <% @target.records.each do |r| %>
      <tr>
        <td><%= r.ip_v4 %>[<%= r.ip_location %>]</td>
        <td><%= r.browser %></td>
        <td><%= r.platform %></td>
        <td><%= r.password %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="col-xs-12">
  <h3>Detail</h3>
  <table class="table table-hover">
    <thead>
    <td>ip_address</td>
    <td>browser</td>
    <td>platform</td>
    <td>time</td>
    </thead>
    <tbody>
    <% @target.details.each do |d| %>
      <tr>
        <td><%= d.ip_v4 %>[<%= d.ip_location %>]</td>
        <td><%= d.browser %></td>
        <td><%= d.platform %></td>
        <td><%= d.created_at.to_formatted_s(:short) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= link_to '返回清單', targets_path(targets_filter), class: 'btn btn-success' %>
<%= link_to 'Admin清單', admin_targets_path(targets_filter), class: 'btn btn-success' if current_user.manager? %>
<%= link_to '修改', edit_admin_target_path(@target), class: 'btn btn-danger' if current_user.manager? %>