<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :port %>
  <%= f.number_field :port, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :domain %>
  <%= f.text_field :domain, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :user_name %>
  <%= f.text_field :user_name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.text_field :password, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :authentication %>
  <%= f.text_field :authentication, class: 'form-control' %>
</div>
<div class="form-group">
  <div class="input-field">
    <%= f.radio_button :tls, true %>
    <%= f.label :tls, 'true' %>
  </div>
  <div class="input-field">
    <%= f.radio_button :tls, false %>
    <%= f.label :tls, 'false' %>
  </div>
</div>