<%= form_for set_smtp_setting(@smtp_setting), url: smtp_setting_path(@smtp_setting), method: :patch do |f| %>
    <% if @smtp_setting.errors.any? %>
        <ul>
          <% @smtp_setting.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <%= render partial: 'smtp_setting_form', :locals => { :f => f } %>
    <div class="highlight">
      <h3>accounts</h3>
      <%= f.nested_fields_for :accounts do |ff| %>
          <div class="form-group">
            <%= ff.label :name %>
            <%= ff.remove_nested_fields_link 'remove' ,class: 'btn btn-danger' %>
            <%= ff.text_field :name, :required => true, class: 'form-control' %>
          </div>
          <hr>
      <% end %>
      <%= f.add_nested_fields_link :accounts, 'add more account' %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-default' %>
    </div>
<% end %>