<div class="col-sm-12">
  <table class="profile-availability">
    <thead>
    <tr>
      <td></td>
      <td class="weekend"><span class="hidden-sm hidden-xs">星期</span>日</td>
      <td><span class="hidden-sm hidden-xs">星期</span>一</td>
      <td><span class="hidden-sm hidden-xs">星期</span>二</td>
      <td><span class="hidden-sm hidden-xs">星期</span>三</td>
      <td><span class="hidden-sm hidden-xs">星期</span>四</td>
      <td><span class="hidden-sm hidden-xs">星期</span>五</td>
      <td class="weekend"><span class="hidden-sm hidden-xs">星期</span>六</td>
    </tr>
    </thead>
    <tbody>
    <% current_user.deliver_schedules.group_by(&:hour).each do |hour, weekday| %>
      <tr>
        <th>
          <div class="time"><%= hour %></div>
        </th>
        <% weekday.each do |w| %>
          <td>
            <%= form_for w, :url => delivery_schedule_path(w), method: :patch, remote: true do |f| %>
              <%= f.button '', :class => "btn-schedule-edit #{f.object.available ? 'available' : 'not-available'}", remote: true, id: "schedule-#{f.object.id}" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>