<% if @schedule.available %>
$('#<%= "schedule-#{@schedule.id}" %>').removeClass('not-available')
$('#<%= "schedule-#{@schedule.id}" %>').addClass('available')
<% else %>
$('#<%= "schedule-#{@schedule.id}" %>').removeClass('available')
$('#<%= "schedule-#{@schedule.id}" %>').addClass('not-available')
<% end %>