<%= form_for setup_smtp_setting(theme), url: url, method: method do |f| %>
    <% if theme.errors.any? %>
        <ul>
          <% theme.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :template %>
      <%= f.text_field :template, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :website %>
      <%= f.url_field :website, class: 'form-control' %>
    </div>
    <div class="highlight">
      <%= f.fields_for :smtp_setting do |ff| %>
          <%= render partial: 'smtp_settings/smtp_setting_form' , :locals => {f: ff} %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-default' %>
    </div>
<% end %>