<h2>Themes</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Template</th>
    <th>Website</th>
    <th>account counter</th>
    <th>edit</th>
    <th>show</th>
  </tr>
  </thead>
  <tbody>
  <% @themes.each do |t| %>
      <tr>
        <td><%= t.name %></td>
        <td><%= t.subject %></td>
        <td><%= t.template %></td>
        <td><%= t.website %></td>
        <td><%= t.smtp_setting.accounts.count %></td>
        <td><%= link_to 'show', theme_path(t) , class: 'btn btn-success' %></td>
        <td><%= link_to 'edit', edit_theme_path(t) , class: 'btn btn-danger'%></td>
        <td><%= link_to 'edit email accounts', edit_smtp_setting_path(t.smtp_setting) %></td>
      </tr>
  <% end %>
  </tbody>
</table>