<div class="panel panel-default">
  <div class="panel-heading">名稱</div>
  <div class="panel-body"><%= @theme.name %></div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">標題</div>
  <div class="panel-body"><%= @theme.subject %></div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">內容</div>
  <div class="panel-body"><%= @theme.content %></div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">網站</div>
  <div class="panel-body"><%= @theme.website %></div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">SMTP</div>
  <div class="panel-body">
    <ul>
      <li>Address:<%= @theme.smtp_setting.address %></li>
      <li>Port:<%= @theme.smtp_setting.port %></li>
      <li>Domain:<%= @theme.smtp_setting.domain %></li>
      <li>User Name:<%= @theme.smtp_setting.user_name %></li>
      <li>PWD:<%= @theme.smtp_setting.password %></li>
      <li>Auth:<%= @theme.smtp_setting.authentication %></li>
      <li>TLS:<%= @theme.smtp_setting.tls %></li>
      <li>
        accounts <%= link_to 'edit accounts', edit_smtp_setting_path(@theme.smtp_setting) %>
        <ul>
          <% @theme.smtp_setting.accounts.each do |a| %>
              <li><%= a.name %>@<%= @theme.smtp_setting.domain %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
<%= link_to 'list for theme', themes_path, class: 'btn' %>