<h2>User ID: <%= @user.id %></h2>
<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :max_deliver_number %>
    <%= f.number_field :max_deliver_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'edit', class: 'btn btn-danger' %>
  </div>
<% end %>