<h1>使用者列表</h1>
<table class="table table-hover">
  <thead>
  <td>name</td>
  <td>max deliver</td>
  <td>edit</td>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.max_deliver_number %></td>
      <td><%= link_to 'edit', edit_user_path(user), class: 'btn btn-success' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
