<div class="col-xs-12">
  <%= form_for @broadcast, url: broadcasts_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :message, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'submit', class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<div class="col-xs-12">
  <table class="table table-hover">
    <thead>
    <td>id</td>
    <td>message</td>
    <td>created at</td>
    </thead>
    <tbody>
    <% @broadcasts.each do |b| %>
      <tr>
        <td><%= b.id %></td>
        <td><%= b.message %></td>
        <td><%= b.created_at.to_formatted_s(:short) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @broadcasts %>
</div>