.profile-availability {
  width: 100%;
  td.weekend {
    background: #fadc71;
  }
  tbody th .time {
    color: #999;
    border-bottom: 1px dashed #a0a0a0;
    height: 41px;
    font-weight: 400;
    line-height: 41px;

  }
  @media (min-width: 480px) {
    tbody th .time {
      text-align: center;
      font-size: 14px;
    }
  }
  @media (max-width: 480px) {
    tbody th .time {
      text-align: left;
      font-size: 8px;
    }
  }
  thead td + td {
    background: #fcecb2;
    border: none;
    border-left: 2px solid #fff;
  }
  thead td {
    text-align: center;
    background: #fff;
    font-weight: 400;
    padding: 4px 0;
  }
  tbody td .available {
    background: url(<%= asset_path('available.png') %>) 50% 50% no-repeat;
    border-bottom: 1px dashed #a0a0a0;
    overflow: hidden;
    background-color: #d7f0da;
    height: 41px;
  }
  tbody td .not-available {
    background: url(<%= asset_path('not-available.png') %>) 50% 50% no-repeat;
    background-color: #f1f1f1;
    border-bottom: 1px dashed #a0a0a0;
    overflow: hidden;
    height: 41px;
  }

  tbody tr:first-child td {
    border-top: 1px #FFF solid;
  }
  tbody tr:first-child th {
    border-top: 1px #FFF solid;
  }
  tbody tr td {
    border-left: 2px #FFF solid;
    width: 12%;
    padding: 0;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  td, th {
    display: table-cell;
    vertical-align: inherit;
  }
  .profile-availability {
    border: none;
    background: #fff;
    border-collapse: separate;
    border-top: 2px solid #ebebe8;
    padding: 1px 0 0;
    margin-top: 15px;
  }
  .btn-schedule-edit {
    width: 100%;
    border: none;
  }
}