<div class="col-sm-12">
  <h1>List(<%= params[:condition] ? params[:condition] : 'ALL' %>)</h1>
  <div class="btn-group">
    <%= link_to 'ALL', password_lists_path, :class => 'btn btn-default' %>
    <%= link_to 'NotControlled', password_lists_path(:condition => 'NotControlled'), :class => 'btn btn-primary' %>
    <%= link_to 'Incontrol', password_lists_path(:condition => 'Incontrol'), :class => 'btn btn-info' %>
  </div>
  <div class="col-xs-12">
    <%= form_tag password_lists_path, method: :get do %>
      <%= (hidden_field_tag :condition, params[:condition]) if params[:condition] %>
      <%= label_tag :key_work, 'Key Word' %>
      <%= text_field_tag :keyword %>
      <%= submit_tag '送出', class: 'btn btn-success' %>
    <% end %>
  </div>
  <table class="table table-hover">
    <thead>
    <td>email</td>
    <td>password</td>
    <td>created at</td>
    <td>control</td>
    <td>edit</td>
    </thead>
    <tbody>
    <% @targets.each do |t| %>
      <tr>
        <td><%= link_to t.email, target_path(t, targets_filter) %></td>
        <td><%= t.records.map{|t| t.password}.uniq.join('、') %></td>
        <td><%= t.records.last.created_at.to_formatted_s(:short) %></td>
        <td><%= t.control %></td>
        <td><%= link_to 'edit', edit_target_path(t, targets_filter(page: params[:page])) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @targets %>
</div>